body {
  background: rgb(34, 32, 32);
}

h1{
    margin: 0px;
    margin-bottom: 10px;
    color: white;
    font-style: italic;
    text-align: left;
    
}
h5{
    margin: 0px;
    margin: 8px;
    color: white;
    font-size: medium;
     font-style: italic;
}
.mov{
    background: linear-gradient(-45deg, #ec8a6d,#725b72,#23a6d5,#23d5ab);
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
}

.movie1{
   width: 650px;
   height: 280px;
   float: left;
   display: flex;
   justify-content: center;
   


}
.movie1 p{
margin-top: 9.5%;
margin-right: 11%;
width: 50%;
text-align: left;
font-size: medium;

}


.movie2{

    width: 650px;
    height: 280px;
    float: left;
    display: flex;
    justify-content: center;
   
}
.movie2 p{
margin-top: 11%;
margin-right: 11%;
width: 50%;
font-size: medium;
}

.movie3{

width: 650px;
height: 280px;
float: left;
display: flex;
justify-content: center;
}

.movie3 p{
margin-top: 11%;
margin-right: 11%;
width: 50%;
text-align: left;
font-size: medium;

}

.movie4{
    width: 650px;
height: 280px;
float: left;
display: flex;
justify-content: center;
}

.movie4 p{

margin-top: 11%;
margin-right: 11%;
width: 50%;
font-size: medium;

}

.movie5{
width: 650px;
height: 280px;
float: left;
display: flex;
justify-content: center;
}

.movie5 p{
    margin-top: 11%;
    margin-right: 11%;
    width: 50%;
    font-size: medium;
   
}

.movie6 {
width: 650px;
height: 280px;
float: left;
display: flex;
justify-content: center;
}
.movie5 p{
    margin-top: 11%;
    margin-right: 11%;
    width: 50%;
    font-size: medium;
    
}